doctype html
html
    head
        title 后台管理
        link(rel='stylesheet' href='/css/admin.css')
        link(rel='stylesheet' href='/css/bootstrap.min.css')
        script(src='/js/adminCheck.js')
        script(src='/js/jquery.js')
        script(src='/js/admin.js')
    body
    block content