extends admin-layout
block content
        div(class='backbox')
            div(class='back-header')
                span 个人博客管理系统
                span 欢迎回来：#{user}
            div(class='backl')
                ul(class='backlist')
                    li(class='on')
                        a(href='/admin?currentPage=0') 博文管理
                    li
                        a(href='/admin/insert') 添加博文文章
                    li
                        a(href='/admin/logout') 退出管理系统
            div(class='backr')
                ul(class='menu')
                    li(class='border')
                        a(href='javascript:;') 添加博文
                    li
                        a(href='/admin?currentPage=0' style='color:#000;') 返回博文列表
                div(class='adminUpdate')
                    div(class='box')
                        div(class='det bg')
                            span 当前操作：
                            span 博文管理/
                            span 添加博文
                        div(class='update-con')
                            form(action='/admin/insert' onsubmit='return check()' method='post')
                                ul
                                    li
                                        span 博文标题：
                                        input(type='text' onblur='inputCheck(this)' class='style' id='title' name='title')
                                        em(class='message')
                                    li
                                        span 博文作者：
                                        input(type='text' onblur='inputCheck(this)' class='style' id='user' name='user')
                                        em(class='message')
                                    li
                                        span 博文内容：
                                        textarea(name='con' onblur='inputCheck(this)' class='style' id='con')
                                        em(class='message')
                                    li
                                        span 初始浏览量：
                                        input(type='text' onblur='inputCheck(this)' class='style' name='browse' id='browse')
                                        em(class='message')
                                    li
                                        input(type='submit' id='insertBtn' class='btn btn-primary btn-s' value='发表博文')
                                        input(type='button' class='btn btn-primary btn-s' id='clear' value='清除重来')
            div(class='footer')